*{
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
 
}

body{
  height: 100vh;
  background-image: url("./assets/Background.jpg");
  background-size: cover;
  background-color: rgb(126, 194, 250)
}